.parent {
  background-color: #5faff5;
  padding: 10px;
  height: 200vh;
}
.child {
  padding: 10px;
}
.child-one {
  background-color: #3ed277;
  position: relative;
  z-index: 1;
  top: 15px;
}
.child-two {
  background-color: #dc9f3c;
  z-index: 0;
  position: relative;
}
.child-three {
  background-color: #b14aaa;
}
